<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre.try(:name) %>
</p>

<p>
  <strong>Songs by: <%= @artist.name %></strong>

  <ul>
    <% @artist.songs.order('name').each do |song| %>
      <li><%= song.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
